<header-component></header-component>
<!--========== END HEADER ==========-->

<!--========== SLIDER ==========-->
<slider-component></slider-component>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->

<!-- End About -->

<!-- Latest Products -->
<!--<div id="products">-->
  <!--<div class="content-lg container">-->
    <!--<div class="row margin-b-40">-->
      <!--<div class="col-sm-6">-->
        <!--<h2>Latest Products</h2>-->
        <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;// end row &ndash;&gt;-->

    <!--<div class="row">-->
      <!--&lt;!&ndash; Latest Products &ndash;&gt;-->
      <!--<div class="col-sm-4 sm-margin-b-50">-->
        <!--<div class="margin-b-20">-->
          <!--<img class="img-responsive" src="./../assets/img/970x647/01.jpg" alt="Latest Products Image">-->
        <!--</div>-->
        <!--<h4><a href="#">Workspace</a> <span class="text-uppercase margin-l-20">Management</span></h4>-->
        <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
        <!--<a class="link" href="#">Read More</a>-->
      <!--</div>-->
      <!--&lt;!&ndash; End Latest Products &ndash;&gt;-->

      <!--&lt;!&ndash; Latest Products &ndash;&gt;-->
      <!--<div class="col-sm-4 sm-margin-b-50">-->
        <!--<div class="margin-b-20">-->
          <!--<img class="img-responsive" src="./../assets/img/970x647/02.jpg" alt="Latest Products Image">-->
        <!--</div>-->
        <!--<h4><a href="#">Minimalism</a> <span class="text-uppercase margin-l-20">Developmeny</span></h4>-->
        <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
        <!--<a class="link" href="#">Read More</a>-->
      <!--</div>-->
      <!--&lt;!&ndash; End Latest Products &ndash;&gt;-->

      <!--&lt;!&ndash; Latest Products &ndash;&gt;-->
      <!--<div class="col-sm-4 sm-margin-b-50">-->
        <!--<div class="margin-b-20">-->
          <!--<img class="img-responsive" src="./../assets/img/970x647/03.jpg" alt="Latest Products Image">-->
        <!--</div>-->
        <!--<h4><a href="#">Cleant Style</a> <span class="text-uppercase margin-l-20">Design</span></h4>-->
        <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
        <!--<a class="link" href="#">Read More</a>-->
      <!--</div>-->
      <!--&lt;!&ndash; End Latest Products &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;// end row &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!-- End Latest Products -->

<!-- Pricing -->
<!--<div id="pricing">-->
  <!--<div class="bg-color-sky-light">-->
    <!--<div class="content-lg container">-->
      <!--<div class="row row-space-1">-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--&lt;!&ndash; Pricing &ndash;&gt;-->
          <!--<div class="pricing">-->
            <!--<div class="margin-b-30">-->
              <!--<i class="pricing-icon icon-chemistry"></i>-->
              <!--<h3>Starter Kit <span> - $</span> 49</h3>-->
              <!--<p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<ul class="list-unstyled pricing-list margin-b-50">-->
              <!--<li class="pricing-list-item">Basic Features</li>-->
              <!--<li class="pricing-list-item">Up to 5 products</li>-->
              <!--<li class="pricing-list-item">50 Users Panels</li>-->
            <!--</ul>-->
            <!--<a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Pricing &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--&lt;!&ndash; Pricing &ndash;&gt;-->
          <!--<div class="pricing pricing-active">-->
            <!--<div class="margin-b-30">-->
              <!--<i class="pricing-icon icon-badge"></i>-->
              <!--<h3>Professional <span> - $</span> 149</h3>-->
              <!--<p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<ul class="list-unstyled pricing-list margin-b-50">-->
              <!--<li class="pricing-list-item">Basic Features</li>-->
              <!--<li class="pricing-list-item">Up to 100 products</li>-->
              <!--<li class="pricing-list-item">100 Users Panels</li>-->
            <!--</ul>-->
            <!--<a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Pricing &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--&lt;!&ndash; Pricing &ndash;&gt;-->
          <!--<div class="pricing">-->
            <!--<div class="margin-b-30">-->
              <!--<i class="pricing-icon icon-shield"></i>-->
              <!--<h3>Advanced <span> - $</span> 249</h3>-->
              <!--<p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<ul class="list-unstyled pricing-list margin-b-50">-->
              <!--<li class="pricing-list-item">Extended Features</li>-->
              <!--<li class="pricing-list-item">Unlimited products</li>-->
              <!--<li class="pricing-list-item">Unlimited Users Panels</li>-->
            <!--</ul>-->
            <!--<a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Pricing &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- End Pricing -->

<!-- Work -->
<!--<div id="work">-->
  <!--<div class="section-seperator">-->
    <!--<div class="content-md container">-->
      <!--<div class="row margin-b-40">-->
        <!--<div class="col-sm-6">-->
          <!--<h2>Work</h2>-->
          <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->

      <!--&lt;!&ndash; Masonry Grid &ndash;&gt;-->
      <!--<div class="masonry-grid row">-->
        <!--<div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>-->
        <!--<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-30">-->
          <!--&lt;!&ndash; Work &ndash;&gt;-->
          <!--<div class="work work-popup-trigger">-->
            <!--<div class="work-overlay">-->
              <!--<img class="full-width img-responsive" src="./../assets/img/800x400/01.jpg" alt="Portfolio Image">-->
            <!--</div>-->
            <!--<div class="work-popup-overlay">-->
              <!--<div class="work-popup-content">-->
                <!--<a href="javascript:void(0);" class="work-popup-close">Hide</a>-->
                <!--<div class="margin-b-30">-->
                  <!--<h3 class="margin-b-5">Art Of Coding</h3>-->
                  <!--<span>Clean &amp; Minimalistic Design</span>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
                      <!--<ul class="list-inline work-popup-tag">-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>-->
                      <!--<p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Work &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-30">-->
          <!--&lt;!&ndash; Work &ndash;&gt;-->
          <!--<div class="work work-popup-trigger">-->
            <!--<div class="work-overlay">-->
              <!--<img class="full-width img-responsive" src="./../assets/img/397x415/01.jpg" alt="Portfolio Image">-->
            <!--</div>-->
            <!--<div class="work-popup-overlay">-->
              <!--<div class="work-popup-content">-->
                <!--<a href="javascript:void(0);" class="work-popup-close">Hide</a>-->
                <!--<div class="margin-b-30">-->
                  <!--<h3 class="margin-b-5">Art Of Coding</h3>-->
                  <!--<span>Clean &amp; Minimalistic Design</span>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
                      <!--<ul class="list-inline work-popup-tag">-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>-->
                      <!--<p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Work &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-30">-->
          <!--&lt;!&ndash; Work &ndash;&gt;-->
          <!--<div class="work work-popup-trigger">-->
            <!--<div class="work-overlay">-->
              <!--<img class="full-width img-responsive" src="./../assets/img/397x300/01.jpg" alt="Portfolio Image">-->
            <!--</div>-->
            <!--<div class="work-popup-overlay">-->
              <!--<div class="work-popup-content">-->
                <!--<a href="javascript:void(0);" class="work-popup-close">Hide</a>-->
                <!--<div class="margin-b-30">-->
                  <!--<h3 class="margin-b-5">Art Of Coding</h3>-->
                  <!--<span>Clean &amp; Minimalistic Design</span>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
                      <!--<ul class="list-inline work-popup-tag">-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>-->
                      <!--<p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Work &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-30">-->
          <!--&lt;!&ndash; Work &ndash;&gt;-->
          <!--<div class="work work-popup-trigger">-->
            <!--<div class="work-overlay">-->
              <!--<img class="full-width img-responsive" src="./../assets/img/397x300/02.jpg" alt="Portfolio Image">-->
            <!--</div>-->
            <!--<div class="work-popup-overlay">-->
              <!--<div class="work-popup-content">-->
                <!--<a href="javascript:void(0);" class="work-popup-close">Hide</a>-->
                <!--<div class="margin-b-30">-->
                  <!--<h3 class="margin-b-5">Art Of Coding</h3>-->
                  <!--<span>Clean &amp; Minimalistic Design</span>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
                      <!--<ul class="list-inline work-popup-tag">-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>-->
                      <!--<p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Work &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">-->
          <!--&lt;!&ndash; Work &ndash;&gt;-->
          <!--<div class="work work-popup-trigger">-->
            <!--<div class="work-overlay">-->
              <!--<img class="full-width img-responsive" src="./../assets/img/397x300/03.jpg" alt="Portfolio Image">-->
            <!--</div>-->
            <!--<div class="work-popup-overlay">-->
              <!--<div class="work-popup-content">-->
                <!--<a href="javascript:void(0);" class="work-popup-close">Hide</a>-->
                <!--<div class="margin-b-30">-->
                  <!--<h3 class="margin-b-5">Art Of Coding</h3>-->
                  <!--<span>Clean &amp; Minimalistic Design</span>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
                      <!--<ul class="list-inline work-popup-tag">-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>-->
                        <!--<li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="margin-t-10 sm-margin-t-0">-->
                      <!--<p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>-->
                      <!--<p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>-->
                      <!--<p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Work &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; End Masonry Grid &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Clients &ndash;&gt;-->
  <!--<div class="content-lg container">-->
    <!--&lt;!&ndash; Swiper Clients &ndash;&gt;-->
    <!--<div class="swiper-slider swiper-clients">-->
      <!--&lt;!&ndash; Swiper Wrapper &ndash;&gt;-->
      <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/01.png" alt="Clients Logo">-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/02.png" alt="Clients Logo">-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/03.png" alt="Clients Logo">-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/04.png" alt="Clients Logo">-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/05.png" alt="Clients Logo">-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<img class="swiper-clients-img" src="./../assets/img/clients/06.png" alt="Clients Logo">-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; End Swiper Wrapper &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; End Swiper Clients &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; End Clients &ndash;&gt;-->
<!--</div>-->
<!-- End Work -->

<!-- Service -->
<!--<div id="service">-->
  <!--<div class="bg-color-sky-light" data-auto-height="true">-->
    <!--<div class="content-lg container">-->
      <!--<div class="row margin-b-40">-->
        <!--<div class="col-sm-6">-->
          <!--<h2>Services</h2>-->
          <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->

      <!--<div class="row row-space-1 margin-b-2">-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--<div class="service" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon icon-chemistry"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3>Art Of Coding</h3>-->
              <!--<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--<div class="service bg-color-base" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon color-white icon-screen-tablet"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3 class="color-white">Responsive Design</h3>-->
              <!--<p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<div class="service" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon icon-badge"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3>Feature Reach</h3>-->
              <!--<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->

      <!--<div class="row row-space-1">-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--<div class="service" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon icon-notebook"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3>Useful Documentation</h3>-->
              <!--<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 sm-margin-b-2">-->
          <!--<div class="service" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon icon-speedometer"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3>Fast Delivery</h3>-->
              <!--<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<div class="service" data-height="height">-->
            <!--<div class="service-element">-->
              <!--<i class="service-icon icon-badge"></i>-->
            <!--</div>-->
            <!--<div class="service-info">-->
              <!--<h3>Free Plugins</h3>-->
              <!--<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>-->
            <!--</div>-->
            <!--<a href="#" class="content-wrapper-link"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- End Service -->

<!-- Contact -->
<!--<div id="contact">-->
  <!--&lt;!&ndash; Contact List &ndash;&gt;-->
  <!--<div class="section-seperator">-->
    <!--<div class="content-lg container">-->
      <!--<div class="row">-->
        <!--&lt;!&ndash; Contact List &ndash;&gt;-->
        <!--<div class="col-sm-4 sm-margin-b-50">-->
          <!--<h3><a href="#">New York</a> <span class="text-uppercase margin-l-20">Head Office</span></h3>-->
          <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
          <!--<ul class="list-unstyled contact-list">-->
            <!--<li><i class="margin-r-10 color-base icon-call-out"></i> 1 012 3456 7890</li>-->
            <!--<li><i class="margin-r-10 color-base icon-envelope"></i> hq@aitOnepage.com</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; End Contact List &ndash;&gt;-->

        <!--&lt;!&ndash; Contact List &ndash;&gt;-->
        <!--<div class="col-sm-4 sm-margin-b-50">-->
          <!--<h3><a href="#">London</a> <span class="text-uppercase margin-l-20">Operation</span></h3>-->
          <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
          <!--<ul class="list-unstyled contact-list">-->
            <!--<li><i class="margin-r-10 color-base icon-call-out"></i> 44 77 3456 7890</li>-->
            <!--<li><i class="margin-r-10 color-base icon-envelope"></i> operation@AitOnepage.com</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; End Contact List &ndash;&gt;-->

        <!--&lt;!&ndash; Contact List &ndash;&gt;-->
        <!--<div class="col-sm-4 sm-margin-b-50">-->
          <!--<h3><a href="#">Singapore</a> <span class="text-uppercase margin-l-20">Finance</span></h3>-->
          <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>-->
          <!--<ul class="list-unstyled contact-list">-->
            <!--<li><i class="margin-r-10 color-base icon-call-out"></i> 50 012 456 7890</li>-->
            <!--<li><i class="margin-r-10 color-base icon-envelope"></i> finance@AitOnepage.com</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; End Contact List &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;// end row &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; End Contact List &ndash;&gt;-->

  <!--&lt;!&ndash; Google Map &ndash;&gt;-->
  <!--<div id="map" class="map height-300"></div>-->
<!--</div>-->
<!-- End Contact -->

<router-outlet></router-outlet>
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<footer-component></footer-component>

